<% if @event.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@event.errors.count, "error") %> occured while updating your event
    </h2>
    <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= render "form" %>


  <div>
    <h2>Remove Attendees</h2>
    <% @event.attendees.each do |attendee| %>
      <p><%= attendee.first_name %> <% attendee.last_name %></p>
      <%= button_to "Remove", invitation_path, params: { invitation: { attendee_id: attendee.id, attended_event_id: @event.id } }, method: :delete%>
    <% end %>
  </div>



