<h1><%= @event.title %></h1>
<p>Event date: <%= @event.date %></p><br />
<h2><strong>Event location</strong></h2>
<p>Country: <%= @event.country %></p><br />
<p>City: <%= @event.city %></p><br />
<h2><strong>About Event:</strong></h2>
<p><%= @event.desc %> </p><br />
<p>Start time: <%= @event.starting_time %></p>
<p>End Time: <%=@event.ending_time%> </p>
